Repository XFox111/TabsAsideExtension, pull requests merged in 2025-09, with the labels that each got.

#148 Some features are now optional
  .github/workflows/cd_pipeline.yml
  .github/workflows/pr_pipeline.yml
  PRIVACY.md
  app.config.ts
  data/links.ts
  entrypoints/background.ts
  entrypoints/capture.ts
  entrypoints/options/hooks/useOptionsStyles.ts
  entrypoints/options/layouts/AboutSection.tsx
  entrypoints/options/layouts/GeneralSection.tsx
  entrypoints/options/layouts/StorageSection.tsx
  entrypoints/options/main.tsx
  entrypoints/sidepanel/main.tsx
  entrypoints/sidepanel/utils/exportCollectionToBookmarks.ts
  features/analytics/index.ts
  features/analytics/utils/analytics.ts
  features/analytics/utils/analyticsPermission.ts
  features/analytics/utils/getUserProperties.ts
  features/analytics/utils/track.ts
  features/analytics/utils/trackError.ts
  features/analytics/utils/userPropertiesStorage.ts
  features/collectionStorage/index.ts
  features/collectionStorage/utils/clearGraphics.ts
  features/collectionStorage/utils/thumbnailCaptureEnabled.ts
  features/settingsReview/components/SettingsReviewDialog.tsx
  features/settingsReview/hooks/useSettingsReviewDialog.tsx
  features/settingsReview/index.ts
  features/settingsReview/utils/index.ts
  features/settingsReview/utils/setSettingsReviewNeeded.ts
  features/settingsReview/utils/showSettingsReviewDialog.ts
  features/v3welcome/hooks/useWelcomeDialog.tsx
  hooks/useDialogTrain.ts
  locales/en.yml
  locales/es.yml
  locales/it.yml
  locales/pl.yml
  locales/pt_BR.yml
  locales/ru.yml
  locales/uk.yml
  locales/zh_CN.yml
  wxt.config.ts
  yarn.lock
Labels: enhancement, locale, github_actions, javascript

#150 Minor 3.1.0
  .github/workflows/cd_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr_next.yml
  .github/workflows/pr_pipeline.yml
  PRIVACY.md
  app.config.ts
  data/links.ts
  entrypoints/background.ts
  entrypoints/capture.ts
  entrypoints/options/hooks/useOptionsStyles.ts
  entrypoints/options/layouts/AboutSection.tsx
  entrypoints/options/layouts/GeneralSection.tsx
  entrypoints/options/layouts/StorageSection.tsx
  entrypoints/options/main.tsx
  entrypoints/sidepanel/main.tsx
  entrypoints/sidepanel/utils/exportCollectionToBookmarks.ts
  eslint.config.js
  features/analytics/index.ts
  features/analytics/utils/analytics.ts
  features/analytics/utils/analyticsPermission.ts
  features/analytics/utils/getUserProperties.ts
  features/analytics/utils/track.ts
  features/analytics/utils/trackError.ts
  features/analytics/utils/userPropertiesStorage.ts
  features/collectionStorage/index.ts
  features/collectionStorage/utils/clearGraphics.ts
  features/collectionStorage/utils/thumbnailCaptureEnabled.ts
  features/settingsReview/components/SettingsReviewDialog.tsx
  features/settingsReview/hooks/useSettingsReviewDialog.tsx
  features/settingsReview/index.ts
  features/settingsReview/utils/index.ts
  features/settingsReview/utils/setSettingsReviewNeeded.ts
  features/settingsReview/utils/showSettingsReviewDialog.ts
  features/v3welcome/hooks/useWelcomeDialog.tsx
  hooks/useDialogTrain.ts
  locales/en.yml
  locales/es.yml
  locales/it.yml
  locales/pl.yml
  locales/pt_BR.yml
  locales/ru.yml
  locales/uk.yml
  locales/zh_CN.yml
  package.json
  wxt.config.ts
  yarn.lock
Labels: locale, dependencies, github_actions, javascript, patch-tuesday

#152 i18n for AMO link
  README.md
Labels: documentation
